.imptxt {
    color:#2faced;
    font-style:italic;
    font-weight: bold;
}
/* this is my favorite color because it's bright blue and also spells a short phrase */

/* classes (.) are reusable styles and ids (#) are only used once */
#box1 {
    background-color: aquamarine;
    border: 7px double navy;
    height: 100px;
    margin: 10px;
    width: 50%;
    padding-top: 10px;
    padding-left: 10px;
}

#box2 {
    background-color:beige;
    border: 7px double cyan;
    height: 100px;
    margin: 10px;
    width: 50%;
    padding-top: 10px;
    padding-left: 10px;
}